#footer {
    background-image: linear-gradient(to bottom, $miazul, $miverde);
    color: $miblanco;
    font-family: 'Signika Negative', sans-serif; }
  
  #mapa {
    margin-top: 10px;
    margin-bottom: 5px; }
  
  #rowfooter {
    justify-content: center; }
  
  #direccion {
    justify-content: center; }
  